* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.contenedor {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

.contenedor h1 {
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.btn:hover {
    background: blue;
    color: white;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.imagen {
    float: right;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
}